@model FiveMinuteMindfulness.Core.Dto.Application.JournalDto

@{
    ViewBag.Title = FiveMinuteMindfulness.Resources.Web.Common.CreateJournal;
    Layout = "_Layout";
}

@await Html.PartialAsync("_Sidebar", 9);
<partial name="_BackgroundVectors" model="Model" xmlns="http://www.w3.org/1999/html"/>

<div class="d-flex w-100 h-100">
    <div class="w-100">
        <div class="journal-content-container">
            <h3>@FiveMinuteMindfulness.Resources.Web.Common.CreateJournal</h3>
            <form asp-action="Create" class="journal-items">

                <partial name="_CreateEdit" model="Model"/>

                <input type="submit" value="@FiveMinuteMindfulness.Resources.Web.Common.CreateNew" class="btn btn-purple btn-bottom-align btn-purple-text"/>
            </form>
        </div>
    </div>

    @section Scripts {
        @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    }

</div>