@{
    ViewData["Title"] = "Home Page";
}

<body>

<div class="w-100 h-100">
    <div class="d-flex">
        <div class="w-50">
            <img class="page-image" src="https://source.unsplash.com/FtqY6goIY14"
                 alt="Single lotus flower on a lake."/>
        </div>
        <div class="w-50">
            <div class="padded-container">
                <div class="mb-5">
                    <h2>Hi you.</h2>
                    <p>
                        With the bustling speed of day-to-day life, it’s easy to overlook how
                        <span class="purple">you</span> are doing.
                        Taking care of your mental health and being mindful is being touted everywhere,
                        yet people are growing increasingly more and more dissatisfied every single day.
                    </p>
                    <p>
                        This made us realize that we should be revising the way we look at mindfulness and mental health
                        in
                        general.
                        Our goal is to revise the way we approach mindfulness and help
                        <span class="purple">you</span> strive to be the most wholesome version of yourself.
                    </p>
                    <p>
                        This is <span class="purple">your</span> journey and we are just here along for the ride.
                        Not to worry, we are here to offer some guidance towards what to look for without letting
                        <span class="purple">you</span> run astray in the forest of all knowledge
                        for too long.
                    </p>
                </div>
                <div>
                    <button type="button" class="btn btn-purple" onclick="window.location.href='pages/courses-home.html'">
                        <span class="btn-purple-text">
                            Start your journey
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>