@{
    ViewData["Title"] = FiveMinuteMindfulness.Resources.Web.Common.PrivacyPolicy;
}
<div class="container">
    <h1>@ViewData["Title"]</h1>

    <p>@FiveMinuteMindfulness.Resources.Web.Common.PrivacyPolicyText</p>
</div>