@using Microsoft.AspNetCore.Mvc.TagHelpers
@model FiveMinuteMindfulness.Core.Dto.Application.NotificationDto

@{
    ViewData["Title"] = "Delete";
}
<div class="container">
    <h1>@FiveMinuteMindfulness.Resources.Web.Common.Delete</h1>

    <h3>@FiveMinuteMindfulness.Resources.Web.Common.DeleteConfirmation</h3>
    <div>
        <partial name="_DetailsDelete" model="Model"/>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id"/>
            <input type="submit" value="@FiveMinuteMindfulness.Resources.Web.Common.Delete" class="btn btn-danger"/> |
            <a class="btn btn-secondary" asp-action="Index">@FiveMinuteMindfulness.Resources.Web.Common.BackToList</a>
        </form>
    </div>
</div>